head
    title Landing Page
    //ALl static goes here
    link(rel='stylesheet', href='/static/css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/static/css/creative.css', type='text/css')
    //Custom Fonts Google API
    link(rel='stylesheet', href='/static/font-awesome.css', type='text/css')
    link(rel='styesheet', href='/static/css/animate.min.css', type='text/css')
    link(rel='stylesheet', href='/static/css/creative.css', type='text/css')
